<div style="padding: 2rem; background: #f3f3f3; text-align: center;">
    <h2>Custom Section</h2>
    <p>This is a custom section.</p>
  </div>
  
  {% schema %}
  {
    "name": "Custom Section",
    "presets": [
      {
        "name": "Custom Section"
      }
    ]
  }
  {% endschema %}
  