<div class="page-width">i am custom shoopper info bar</div>

{% schema %}
{
  "name": "Shopper Info Bar",
  "blocks": [
    {
      "type": "info",
      "name": "Info Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Free shipping across Canada"
        }
      ]
    }
  ],
  "max_blocks": 3,
  "presets": [
    {
      "name": "Shopper Info Bar",
      "blocks": [
        {
          "type": "info"
        },
        {
          "type": "info"
        },
        {
          "type": "info"
        }
      ]
    }
  ]
}
{% endschema %}